<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright (C) 2012-2018
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="remcob00-cordova-youtube-android-player-api"
    version="2.0.6">
    
    <name>>Cordova / Phonegap YouTube Android Player API</name>
    <description>Cordova / Phonegap YouTube Android Player API plugin.</description>
    <author>Remco Beugels</author>
    <keywords>cordova,cordova-android,phonegap,youtube, android, player api</keywords>
    
    <license>MIT License</license>
    <repo>https://github.com/RemcoB00/cordova-phonegap_youtube_player_api_android.git</repo>
    <issue>https://github.com/RemcoB00/cordova-phonegap_youtube_player_api_android/issues</issue>

    <js-module src="www/youtube.js" name="youtube">
        <clobbers target="youtube" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="youtube" >
                <param name="android-package" value="com.remcob00.cordova.youtube.YouTube" />
            </feature>
        </config-file>

        <source-file src="src/android/YouTube.java" target-dir="src/com/remcob00/cordova/youtube" />
        <source-file src="src/android/YouTubeAndroidPlayerApi.jar" target-dir="libs" />
    </platform>
</plugin>
